shiny>=1.6
shinywidgets>=0.7.2
anywidget>=0.11.0
pandas>=2.2.2
numpy>=2.0.2
scikit-learn>=1.6.1
matplotlib>=3.10.9
seaborn
scipy>=1.16.3
openpyxl>=3.1.5
networkx>=3.4.2
altair>=5.5.0
plotly>=5.0
ipykernel>=7.2.0
click>=8.3.3
vl-convert-python>=2.0.0rc1
tabulate>=0.10.0
pyBKT==1.4.1
