:root {
  --md-primary-fg-color:         #263744;
  --md-primary-fg-color--light:  #2F4554;
  --md-primary-fg-color--dark:   #1F303D;

  --md-accent-fg-color:          #EE6055;
  --md-accent-fg-color--transparent: rgba(238, 96, 85, 0.10);

  --md-typeset-a-color:          #EE6055;
}

.md-header,
.md-header[data-md-state="shadow"] {
  background-color: #263744 !important;
}

.md-tabs {
  background-color: #263744 !important;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:         #1F303D;
  --md-primary-fg-color--light:  #2F4554;
  --md-primary-fg-color--dark:   #14222D;

  --md-accent-fg-color:          #EE6055;
  --md-accent-fg-color--transparent: rgba(238, 96, 85, 0.15);

  --md-typeset-a-color:          #FF9B85;
}

[data-md-color-scheme="slate"] .md-header,
[data-md-color-scheme="slate"] .md-tabs {
  background-color: #1F303D !important;
}

.md-tabs__link:hover,
.md-tabs__link--active {
  color: #FFFFFF;
}

.md-footer { background: #1F303D !important; }
.md-footer-meta { background: #14222D !important; }
